[Unit]
Description = User Service
[Service]
User=roboshop
Environment=MONGO=true
Environment=REDIS_HOST=redis-dev.roboshop.internal
Environment=MONGO_URL="mongodb://mongodb-dev.roboshop.internal:27017/users"
ExecStart=/bin/node /home/roboshop/user/server.js
SyslogIdentifier=user

[Install]
WantedBy=multi-user.target