[Unit]
Description = User Service
[Service]
User=roboshop
Environment=MONGO=true
Environment=REDIS_HOST=redis-dev.roboshop.internal
Environment=MONGO_URL="mongodb://{{SECRET.DOCDB_USERNAME}}:{{SECRET.DOCDB_PASSWORD}}@{{MONGO_URL}}:27017/user?tls=true&replicaSet=rs0&readPreference=secondaryPreferred&retryWrites=false"
ExecStart=/bin/node /home/roboshop/user/server.js
SyslogIdentifier=user

[Install]
WantedBy=multi-user.target