- name: Install Nginx
  ansible.builtin.package:
    name: nginx
    state: present 

- name: Clearning Old Html Content 
  ansible.builtin.file:
    path: /usr/share/nginx/html/
    state: absent 
  ignore_errors: yes

- name: Creating App Directory
  ansible.builtin.file:
    path: /usr/share/nginx/html/
    state: directory
    mode: '0755'
  ignore_errors: yes

- name: Download and extracting the Component 
  ansible.builtin.unarchive:
    src: http://172.31.4.26:8081/repository/{{COMPONENT}}/{{COMPONENT}}-{{APP_VERSION}}.zip
    dest: /usr/share/nginx/html/ 
    remote_src: yes 

# Uncomment ths only if you use GitHub to download the code directly.
# - name: Coping the Frontend Content to Nginx Path 
#   ansible.builtin.copy:
#     src: /tmp/frontend-main/static/
#     dest: /usr/share/nginx/html/ 
#     remote_src: yes                        # Since the source is on a remote machine, ensure you mention remote_src as yes 

- name: Coping Nginx Config 
  ansible.builtin.template:                    # Copies the file from the files directory
    src: roboshop.conf  
    dest: /etc/nginx/default.d/roboshop.conf  
  notify: Restart Nginx                    #only when there is a change in the copy file, then only this handler will be called.

- name: Starting frontend service 
  ansible.builtin.service:
    name: nginx
    state: started
    enabled: true  

- name: Installing filebeat
  include_role:
    name: elk
    tasks_from: filebeat

#  When frontend service has to be restarted ?
#  Whenever there is a change in the roboshop.conf, only then I need a restart