[Unit]
Description = Catalogue Service
[Service]
User=roboshop
Environment=MONGO=true
Environment=MONGO_URL="mongodb://{{SECRET.DOCDB_USERNAME}}:{{SECRET.DOCDB_PASSWORD}}@{{MONGO_URL}}:27017/catalogue?tls=true&replicaSet=rs0&readPreference=secondaryPreferred&retryWrites=false"
ExecStart=/bin/node /home/roboshop/catalogue/server.js
SyslogIdentifier=catalogue

[Install]
WantedBy=multi-user.target


mongodb://username:password@mongodb:27017/catalogue?tls=true&replicaSet=rs0&readPreference=secondaryPreferred&retryWrites=false