[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST=REDIS_ENDPOINT
Environment=CATALOGUE_HOST=CATALOGUE_ENDPOINT
ExecStart=/bin/node /home/roboshop/cart/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target