[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST=redis-dev.roboshop.internal
Environment=CATALOGUE_HOST=catalogue-dev.roboshop.internal
Environment=CATALOGUE_PORT=80
ExecStart=/bin/node /home/roboshop/cart/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target