[Unit]
Description=Shipping Service

[Service]
User=roboshop
Environment=CART_ENDPOINT=CARTENDPOINT:8080
Environment=DB_HOST=DBHOST
ExecStart=/bin/java -jar /home/roboshop/shipping/shipping.jar
SyslogIdentifier=shipping

[Install]
WantedBy=multi-user.target